<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Page</title>
</head>
<body>
  <h1>Teacher Page</h1>
    <form action="/createSession" method="post">
    <textarea style="
    display: block;
    width: auto;"id="courseName" name="courseName" rows="2" cols="30"></textarea>
    <textarea style="
    display: block;
    width: auto;"
    id="classGroups" name="classGroups" rows="2" cols="30"></textarea>

    <textarea style="display: block;
    width: auto;" id="descriptionCourse" name="descriptionCourse" rows="4" cols="30"></textarea>
    <div class="numberScroll">
        <!-- Just one input :) -->
        Choose number of blocks you want to create (1-6)
          <input type="number" id="numOfBlocks" name="numOfBlocks" value="1" min="1" max="6" step="1" />
        <!-- Done! -->
      </div>
      <div class="minutesScroll">
        <!-- Just one input :) -->
        Choose minutes for each block created (15-60 min)
          <input type="number" id="timeOfBlocks" name="timeOfBlocks" value="15" min="15" max="60" step="1" />
        <!-- Done! -->
      </div>
    <Button id="createSession" type="submit">Create Session</Button>
    </form> 
</body>
</html>