<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Page</title>
</head>
<body>

    <form action="action_page.php" method="post">
    <textarea style="
    display: block;
    width: auto;"id="teacherName" name="teacherName" rows="2" cols="30">

    </textarea>
    <textarea style="
    display: block;
    width: auto;"
    id="courseName" name="courseName" rows="2" cols="30">

    </textarea>
    <textarea style="display: block;
    width: auto;" id="descriptionCourse" name="descriptionCourse" rows="4" cols="30">

    </textarea>
    <Button id="createSession" type="submit">Create Session</Button>
    </form> 
</body>
</html>