<!DOCTYPE html>
<html>
<body>

<h2>User Form</h2>

<form action="">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="Per"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Son"><br><br>
  <input type="checkbox" id="input1" name="input1" value="student">
  <label for="input1">Student</label><br>
  <input type="checkbox" id="input2" name="input2" value="student">
  <label for="input2">Teacher</label><br>
  <input type="checkbox" id="input3" name="input3" value="student">
  <label for="input3">Admin</label><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
